@if (permission?.allowView) {
<div class="app-content-header">
  <div class="container-fluid">
    <app-header [header]="header"></app-header>
  </div>

  <div class="app-content">
    <div class="container-fluid p-0">
      <div class="card p-3">

        <app-filter-select [criteria]="criteria" (search)="onFilterSearch($event)"></app-filter-select>

        <div class="row py-2">
          <div class="contentBody">
            <ejs-grid #grid [dataSource]="dataSource"
                      [allowPaging]="true"
                      [pageSettings]="pageSettings"
                      [allowSorting]="true"
                      gridLines="Both"
                      [selectionSettings]="selectionOptions"
                      (actionBegin)="actionBegin($event)"
                      (recordDoubleClick)="doubleClick($event)"
                      (created)="dataBound($event)"
                      [resizeSettings]="resizeSettings"
                      [allowResizing]="true">
              <e-columns>

                <e-column field="employeeId" width="100" [customAttributes]='customAttributes' textAlign="Center" headerTextAlign="Center" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'EmployeeId' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'EmployeeName' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'Department' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'Position' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'SupervisorName' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="email" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'Email' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="start" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'WorkStatus' | translate }}
                  </ng-template>
                </e-column>

                <e-column field="employeeName" width="150" [customAttributes]='customAttributes' headerTextAlign="Center" textAlign="Center" clipMode="EllipsisWithTooltip">
                  <ng-template #headerTemplate>
                    {{ 'LastUpdated' | translate }}
                  </ng-template>
                </e-column>

              <e-column field="phoneNo" width="80" textAlign="Center" [customAttributes]="customAttributes"headerTextAlign="Center">
                <ng-template #headerTemplate>
                  {{ 'Status' | translate }}
                </ng-template>
                <ng-template #template let-data>
                   <div class="text-center">
                      <i class="fa-solid" [class.fa-circle-check]="data.isActive" [class.fa-circle-xmark]="!data.isActive"
                        [style.color]="data.isActive ? 'green' : 'red'"></i>
                    </div>
                </ng-template>
              </e-column>

              <e-column headerText="" textAlign="Center" [allowSorting]="false" width="40" freeze="Right"
                  [customAttributes]='customAttributes'>
                  <ng-template #template let-data>
                    <button ejs-button cssClass="e-primary e-small"
                      [iconCss]="permission.allowEdit ? 'fa-solid fa-pen-to-square' : 'fa-solid fa-eye'"
                      (click)="edit(data)">
                    </button>
                  </ng-template>
                </e-column>

              </e-columns>
              <ng-template #emptyRecordTemplate>
                <div class='emptyRecordTemplate'>
                  <span>{{ 'EmptyRecord' | translate}}</span>
                </div>
              </ng-template>
            </ejs-grid>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
}


@if (permission?.allowView === false) {
<div class="d-flex justify-content-center align-items-center vh-100">
  <h2 class="text-muted">{{'No Permission' | translate}}</h2>
</div>
}
