@if (permission?.allowView) {
<div class="app-content-header">
  <div class="container-fluid">
    <app-header [header]="header"></app-header>
  </div>
  <div class="app-content">
    <div class="container-fluid p-0">
      <form #myForm="ngForm">
        <div class="card p-3">
          <app-toolbar class="mb-2" [showButton]="actionListbtn" [dirty]="form?.dirty && permission?.allowEdit"
            (clickBtnBack)="doBack()" (clickBtnSave)="doSave()" (clickBtnCancel)="doCancel()"></app-toolbar>
          <div class="row">
            <div class="col-12 col-lg-6 mb-2">
              <label class="form-label bold d-block">
                {{ 'ItemId' | translate }}
                <input class="form-control" #ItemId type="text" tabindex="0" name="ItemId" id="ItemId"
                  placeholder="{{ 'ItemId' | translate }}" [(ngModel)]="id" [disabled]="true">
              </label>
            </div>

            <div class="col-12 col-lg-6 mb-2">
              <label  class="form-label bold d-block">
                {{ 'ParentID' | translate }}
              <div class="e-float-input e-input mt-0">
                <app-select [(ngModel)]="detail.parentId" name="ParentID" [options]="selectMenuId" [disabled]="detail.itemLevel != 2"
                  placeholder="{{ 'ParentID' | translate }}">
                </app-select>
              </div>
              </label>
            </div>
          </div>

          <div class="row">

            <div class="col-12 col-lg-6 mb-2">
              <label class="form-label bold d-block">{{ 'MenuName' | translate}} ({{ 'EN' | translate}})
                <input class="form-control" #EN type="text" tabindex="0" name="en" id="en" placeholder="{{ 'EN' | translate }}"
                  [(ngModel)]="detail.itemName.en">
              </label>
            </div>

            <div class="col-12 col-lg-6 mb-2">
              <label class="form-label bold d-block">{{ 'MenuName' | translate}} ({{ 'TH' | translate}})
                <input class="form-control" #TH type="text" tabindex="0" name="th" id="th" placeholder="{{ 'TH' | translate }}"
                  [(ngModel)]="detail.itemName.th">
              </label>
            </div>
          </div>


          <div class="row">
            <div class="col-12 col-lg-6 mb-2">
              <label class="form-label bold d-block">
                {{ 'ItemLevel' | translate }}
                <input class="form-control" #Level type="text" tabindex="0" name="itemLevel" id="itemLevel"
                  placeholder="{{ 'ItemLevel' | translate }}" [(ngModel)]="detail.itemLevel" [disabled]="true">
              </label>
            </div>


              <div class="col-12 col-lg-6 mb-2">
              {{ 'Active' | translate}}
              <div class="d-flex flex-wrap gap-4">
                <div class="d-flex items-center gap-2">
                  <div class="col-12 py-2">
                    <label  class="form-label bold d-block">
                    <input class="form-check-input" type="checkbox" id="isActive" name="isActive"
                      [(ngModel)]="detail.isActive" />
                    &nbsp;<strong class="ml-2"></strong>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-12 col-lg-6 mb-2">
              <label  class="form-label bold d-block">
                {{ 'Icon' | translate }}
              <div class="e-float-input e-input mt-0">
                <app-input-with-button [(ngModel)]="icon" placeholder="{{ 'Icon' | translate }}" [disabled]="detail.itemLevel != 1"
                  icon="fa-solid fa-ellipsis-vertical" (buttonClick)="openicon()" (clearClick)="clearIcon()" id="Icon" [displayHtml]="true"
                  name="Icon">
                </app-input-with-button>
              </div>
              </label>
            </div>

            <div class="col-12 col-lg-6 mb-2">
              <label class="form-label bold d-block">
                {{ 'itemOrder' | translate }}
                <div class="e-float-input e-input mt-0">
                    <app-input-number name="itemOrder" id="itemOrder" [(ngModel)]="detail.itemOrder" [step]="1" >
                </app-input-number>
                </div>
              </label>
            </div>

          </div>

          <div class="col-12 col-lg-12 mb-2">
            <label class="form-label bold d-block">{{ 'ToolTip' | translate}}
            <textarea rows="3" class="form-control" #Tooltip type="text" tabindex="0" name="tooltip"
              id="tooltip" placeholder="{{ 'ToolTip' | translate }}" [(ngModel)]="detail.toolTip">
            </textarea>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

}

@if (permission?.allowView === false) {
<div class="d-flex justify-content-center align-items-center vh-100">
  <h2 class="text-muted">{{'No Permission' | translate}}</h2>
</div>
}
