<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h3 class="mb-0">{{ 'Change Password' | translate}}</h3></div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item active" aria-current="page">{{ 'User & Security' | translate}}</li>
          <li class="breadcrumb-item active" aria-current="page">{{ 'Change Password' | translate}}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="app-content">
    <div class="container-fluid p-0">
      <form #myForm="ngForm">
      <div class="card p-3">
        <app-toolbar
          class="mb-2"
          [showButton]="actionListbtn"
          [dirty]="form?.dirty"
          (clickBtnSave)="changepassword()"
          (clickBtnCancel)="doCancel()"
        ></app-toolbar>

        <div class="row">
          <div class="col-12 col-lg-4 mb-2">
            <label for="currentpassword" class="form-label bold d-block">{{ 'Current Password' | translate}}</label>
            <div class="e-float-input e-input mt-0">
              <input class="form-control" type="password" name="currentpassword" id="currentpassword" [(ngModel)]="currentPassword"
              #currentPasswordCtrl="ngModel" placeholder="{{ 'Current Password' | translate }}" required appPasswordBtn [class.is-invalid]="!currentPassword && currentPasswordCtrl.invalid && currentPasswordCtrl.touched">
            </div>
            <div class="text-danger mt-1"
              *ngIf="currentPasswordCtrl.invalid && (currentPasswordCtrl.dirty || currentPasswordCtrl.touched)">
              <div *ngIf="currentPasswordCtrl.errors?.['required']">
                {{ 'Current password is required' | translate }}
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="newPassword" class="form-label bold d-block">{{ 'New Password' | translate}}</label>
            <div class="e-float-input e-input mt-0">
              <input class="form-control" type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword"
                #newPasswordCtrl="ngModel" placeholder="{{ 'New Password' | translate }}" required appPasswordCheck  [class.is-invalid]="((newPasswordCtrl.invalid || newPasswordCtrl.errors?.invalidPassword || newPasswordCtrl.errors?.serverError )&& (newPasswordCtrl.touched || myForm.submitted))" appPasswordBtn >
            </div>
            <div class="text-danger mt-1" *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched)" >
              <div *ngIf="newPasswordCtrl.errors?.['required']">
                {{ 'New Password is required' | translate }}
              </div>


               <div class="py-2"  *ngIf="newPasswordCtrl.errors?.invalidPassword">
                <small style="color:red">❌ {{ newPasswordCtrl.errors?.invalidPassword }}</small>
              </div>
              <div class="py-2" *ngIf="newPasswordCtrl.errors?.serverError">
                <small style="color:red">❌ {{ newPasswordCtrl.errors?.serverError }}</small>
              </div>


            </div>
          </div>

          <div class="col-12 col-lg-4 mb-2">
            <label for="confirmPassword" class="form-label bold d-block">{{ 'Confirm New Password' | translate}}</label>
            <div class="e-float-input e-input mt-0">
              <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                [(ngModel)]="confirmPassword" #confirmPasswordCtrl="ngModel" placeholder="{{ 'Confirm New Password' | translate }}"
                required [class.is-invalid]="(myForm.submitted || confirmPasswordCtrl.touched)  &&  confirmPasswordCtrl.invalid" appPasswordBtn appConfirmPasswordValidator>
            </div>
            <div class="text-danger mt-1"
              *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched)">
              <div *ngIf="confirmPasswordCtrl.errors?.['required']">
                {{ 'Confirm new Password is required' | translate }}
              </div>
            </div>
            <div *ngIf="(myForm.submitted || confirmPasswordCtrl.touched)  && confirmPasswordCtrl.errors?.['passwordMismatch']" >
                <small style="color:red">❌ {{ 'Passwords do not match.' | translate }}</small>
              </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
