::ng-deep #user {
  .p-datatable-header{
    padding:0px;
  }
  .p-panel{
    border:0px;
    border-radius: 0px;
  }
}

.form-check-input{
  transform:scale(1.3);
}

.contentBody {
    max-height: calc(100vh - 190px);
    height: calc(100vh - 380px);
    overflow: hidden;
    overflow-y: auto;
}
