<div class="app-content">
    <div class="container-fluid p-0">
      @if(this.loaded){
        <app-filter-select [criteria]="criteria" (search)="onFilterSearch($event)"></app-filter-select>
        <!-- Grid -->
        <div class="row py-2">
          <div class="contentBody">

            <ejs-grid
              #grid
              [dataSource]="dataSource"
              [allowPaging]="true"
              [pageSettings]="pageSettings"
              [allowSorting]="true"
              gridLines="Both"
              [selectionSettings]="selectionOptions"
              (actionBegin)="actionBegin($event)"
              (rowSelected)='rowSelectedclick($event)'
              (rowDeselected)='rowSelectedclick($event)'
              (created)="dataBound($event)"
              [resizeSettings]="resizeSettings"
              [allowResizing]="true"
            >
              <e-columns>

                <e-column field="checked" width="30" textAlign="Center" [allowSorting]="false" [customAttributes]='customAttributes'>
                  <ng-template #headerTemplate>
                    <input type="checkbox" id="check-all" [checked]="selectAllChecked" [indeterminate]="isIndeterminate"
                      (change)="toggleSelectAll($event)" />
                  </ng-template>
                  <ng-template #template let-data >
                    <input type="checkbox" id="check-{{data.employeeId}}" [checked]="selectedIds.has(data.employeeId)" (change)="onRowCheckboxChange(data, $event)" />
                  </ng-template>
                </e-column>

              <ng-container *ngFor="let col of gridHeader">
                  <e-column [field]="col.key | lowercaseFirst" [customAttributes]='customAttributes' [textAlign]="getTextAlign(col.type)" clipMode='EllipsisWithTooltip'
                    [headerTextAlign]="'Center'" [width]="col.columnWidth || 0">

                    <ng-template #headerTemplate>
                        {{ col.key | translate}}
                    </ng-template>

                    <ng-template *ngIf="col.type === 'DateTime'" #template let-data>
                        {{ data[col.key | lowercaseFirst] | localizedDate: (col.dateFormat || 'dd/MM/yyyy HH:mm:ss') }}
                    </ng-template>

                    <ng-template *ngIf="col.type === 'Date'" #template let-data>
                        {{ data[col.key | lowercaseFirst] | localizedDate: (col.dateFormat || 'dd/MM/yyyy') }}
                    </ng-template>

                    <ng-template *ngIf="col.type === 'Enum'" #template let-data>
                      <div [innerHTML]="data[col.key | lowercaseFirst] | translate | safeHtml"></div>
                    </ng-template>

                    <ng-template *ngIf="col.type === 'Integer'" #template let-data>
                        {{ data[col.key | lowercaseFirst]}}
                    </ng-template>

                    <ng-template *ngIf="col.type === 'Decimal'" #template let-data>
                        {{ data[col.key | lowercaseFirst] | number:'1.2-2' }}
                    </ng-template>

                    <ng-template *ngIf="col.type === 'String'" #template let-data>
                        {{ data[col.key | lowercaseFirst] }}
                    </ng-template>

                  </e-column>
                </ng-container>
              </e-columns>

              <ng-template #emptyRecordTemplate>
                  <div class='emptyRecordTemplate'>
                      <span>{{ 'EmptyRecord' | translate}}</span>
                  </div>
              </ng-template>


            </ejs-grid>
          </div>
        </div>
      }
    </div>
  </div>


<!-- Footer -->
<div modal-footer class="modal-footer border-top pt-2">
  <button
    ejs-button
    cssClass="e-primary"
    content="{{ 'Add' | translate }}"
    (click)="closeWithData()"
    iconCss="fa-solid fa-plus"
  ></button>
  &nbsp;
  <button
    ejs-button
    iconCss="fas fa-times"
    cssClass="e-secondary"
    content="{{ 'Cancel' | translate }}"
    (click)="close()"
  ></button>
</div>
