.small-box{
  box-shadow: none;
}


.min-width-30{
  min-width: 200px;
}


.contentBody{
  height: calc(100vh - 325px);
}

#reassignType{
    min-width: 157px !important;
}

#collectorId{
  min-width: 320px !important;
}
