::ng-deep #dtSysParameters {
  .p-datatable-header{
    padding:0px;
  }
  .p-panel{
    border:0px;
    border-radius: 0px;
  }
}

.contentBody {
    max-height: calc(100vh - 190px);
    height: calc(100vh - 286px);
    overflow: hidden;
    overflow-y: auto;
}
