.setCssLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.matCard-login {
  width: 800px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 1px;
}

.col4-textstyle-login {
  text-align: left;
}

.positiontext-login {
  text-align: center;
}

.container-fluid{
  background-color: white;
  height: 100vh;
}

.btn-login{
  margin: 15px 0px 10px 0px;width: 100%;
}

.icon-login{
  text-align: left; margin-top: -10px;
}

.marginIcon{
  margin-left: -1rem;
  margin-top: -15px;
  transform: scaleY(-1);
}

.padding-top0-8rem{
  padding-top: 0.8rem;
}

.padding-top2rem{
  padding-top: 2rem;
}

.padding-Div{
  padding: 10px 10px 40px 10px;
}

.font-size-text-align-centerLoggin {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.text-align-right-margin-topLoggin {
  text-align: right;
  margin-top: -15px;
}

.h-8 {
  height: 8px;
}

.text-adept5{
  font-size: 12px;
  text-align: center;
}

.lang{
  max-width: 200px;
}
